<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="messages">
      <h2>Latest Messages</h2>
      <% if (messages.length > 0) { %> <% messages.forEach(item => { %>
      <h3 class="user"><%= item.user %></h3>
      <h4 class="added"><%= item.added %></h4>
      <p class="text"><%= item.text %></p>
      <% }) %> <% } else { %>
      <p>There are no messages to display.</p>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
