<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="information">
      <h2>News Snapshot</h2>
      <% if (information.length > 0) { %> <% information.forEach(info => { %>
      <h3 class="title"><%= info.title %></h3>
      <p class="snippet"><%= info.snippet %></p>
      <% }) %> <% } else { %>
      <p>There is no information to display.</p>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
